body, html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    overflow-x: hidden;

    background-color: black;
  }  

/* .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.ribbon{
    width:100%;
    height:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-top: 20px;
    display:flex;

}

.ribb{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.btn{
    text-decoration:none;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.btn:hover{
    color: #D6DFF5;
    transform: translateY(-3px);
}

.menucont{
    display: none ;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    top: 150px;
    right: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #1B1F3B;
    border: 1px solid #A9B5DF;
    border-radius:10px;
}
.menubut{
    height: 40px;
    width: 280px;
    border-bottom:2px solid #D6DFF5;
    border-radius:10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #A9B5DF;
    background-color: #1B1F3B;

}
.menubut:hover{
    background-color: #2D3366;
    color: white;
}

.hamburger{
    display: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}

.hamburger .close {
    display: none;
  }
  
  .hamburger.active .open {
    display: none;
  }
  
  .hamburger.active .close {
    display: inline;
  }
  


.land{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.degbut{
    height: 60px;
    width:300px;
    background-color: transparent;
    border: 3px solid white ;
    border-radius:12px;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: inline-block;
    transition: 0.3s;
}

.degbut:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    background-color: rgb(255, 255, 255);
}



.landtext{
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    font-size: 60px;
}

.landtext1{
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.landtext2{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1B1F3B;
    width: 100%;
    height: 650px;
    background-color: white;
}

.letterp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    text-align: left;
}
.txt{
    font-size: 16px;
    color: #2D3366;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@keyframes fade {
    from{
        opacity: 0;
    }
     to{
        opacity: 1;
     }
    
}


.articlehead{
    color: #1B1F3B;
    font-size: 40px;
    text-align: center;
}

.mainmain{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.photu{
    width: 400px;
    height:400px;
    align-items: center;
    justify-content: center;
    border: 6px #A9B5DF solid;
}

.divider{
    width: 6px;
    height: 350px;
    background-color: #2d3366;
    border-radius: 25px;
}

.main2{
    width: 600px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about{
    width: 100%;
    height: 650px;
    background-color: white;
    border-top: 6px #A9B5DF solid ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.abouthead{
    color: #1B1F3B;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 50px rgb(187, 187, 187);
}

.abouttxt{
    color: #2D3366;
    font-size: 18px;
} 

.aboutbut{
    height: 60px;
    width:300px;
    background-color:#2D3366;
    border: 2.5px solid #A9B5DF;
    border-radius:12px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: inline-block;
    transition: 0.3s;

}
.aboutbut:hover{
    border: 3.5px solid #2D3366;
    background-color: #1B1F3B;


}

/* .main3{
    height: 410px;
    width: 1000%;
    max-width: 2000px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    background-color: #D6DFF5;
    border-top:6px solid #A9B5DF;
    padding: 10px;
    align-items: center;

}


@keyframes scrollLeft {
    to {
      left: -200px;
    }
  }


.card{
    height: 400px;
    width:250px;
    background-color: #2D3366;
    border: 4px solid #A9B5DF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}

.card1 {
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
  }
  
  .card2 {
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
  }
  
  .card3 {
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
  }
  
  .card4 {
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
  }
  
  .card5 {
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
  }
  
  .card6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
  }
  
  .card7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
  }
  


.photu{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 3px solid #A9B5DF;
    border-radius: 25px;
}

.name{
    width:auto;
    font-size: 20px;
    color: white;
    margin-top: 5px;
}
.tile{
    height: auto;
    width: 200px;
    font-size: 15px;
    color: #A9B5DF;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.blah{
    margin-top: 5px;
    width:200px;
    height:100px;
    color: whitesmoke;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;


} */

.footer{
    width: 100%;
    height: 300px;
    border-top:6px solid #A9B5DF;

    background-color:#1B1F3B;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

.bpslogo1{
    display: none;
    
}
.bpslogo{
    align-self: center;
}
.contact{
    height: 250px;
    width: 160px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.conthead{
    color: #A9B5DF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;


}
.contcont{
    margin-top: 3.5px;
    text-decoration: none;
    font-size: 14px;
    color: #A9B5DF;
}
.divid{
    background-color: #A9B5DF;
    border-radius: 10px;

    opacity: 0.40;
    height: 170px;
    width: 5px;
}
.map{
    height: 200px;
    width: 200px;
    border: 5px #A9B5DF solid;
    border-radius: 25px;
    background-color: black;


    
}

    
    #preloader {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 9999;
      overflow: hidden;
    }
    
    .typewriter-text {
      color:white;
      font-size: 120px;
      font-weight: 700;
      font-family: Helvetica, sans-serif;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid transparent;
      width: 0;
      animation: typing 1s steps(30, end) forwards;
      z-index: 2;
      left: 50%;
    }
    
    .barbar {
      position: absolute;
      height: 14px;
      background-color: rgba(255, 255, 255, 0.496);
      bottom: 50%;
      animation: slideIn 1s ease-out forwards;
      z-index: 1;
      
    }
    
    @keyframes typing {
      from { width: 0 }
      to { width: 660px } /* Adjust to match your text width */
    }
    
    @keyframes slideIn {
      0% {
        width: 0;
        right: 0;
        left: auto;
      }
      100% {
        width: 640px;
        right: 50%;
        left: auto;
        transform: translateX(50%);
      }
    }

    /* Fade-out after animation complete */
#preloader.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
  }

  
@media only screen and (max-width: 1024px)
{

  /* .ribbon{
      justify-content: center;
      height: 230px;
  }
  .rib{
      flex-direction: column;
  }

  .btn{
      display: none;
  } */
  .mainmain{
      height: auto;
      width: auto;
  }
  .content{
      font-size: 17px;
  }
  .head{
      font-size: 35px;
  }
  .photu{
      margin: 7px;
      height: 300px;
      width: 300px;
  }
  .abouttxt{
      height: auto;
      margin: 7px;
  }
  .abouthead{
      font-size: 40px;
  }
  .divider{
      height: 50px;
      background-color: transparent;
  }
  .about{
      height: auto;
  }
  .main2{
      height: auto;
      width: auto;
      max-width: 500px;
  }



@media only screen and (max-width: 768px)  {

    
  /* .ribbon{
    justify-content: center;
} */
.rib{
    flex-direction: column;
}

.btn{
    display: none;
}
  .mainmain{
          
      flex-direction: column;
  }
  #mainmain2{
      flex-direction: column-reverse;
  }

  .photu{
      margin-top: 10px;
  }

  .landtext{
      font-size: 50px;
  }
  .landtext1{
      font-size: 40px;
  }
  .landtext2{
      font-size: 17px;
  }

  .logo{
      height: 500px;
      width: 500px;
  }

  .menucont.show{
    display: flex;
}

.hamburger{
    display: block;
    margin-right: 50px;
}
}
  .txt{
      font-size: 13px;
  }
  .typewriter-text{
    font-size: 90px;
}

  @keyframes typing {
    from { width: 0 }
    to { width: 500px } /* Adjust to match your text width */
  }

  @keyframes slideIn {
    0% {
      width: 0;
      right: 0;
      left: auto;
    }
    100% {
      width: 500px;
      right: 50%;
      left: auto;
      transform: translateX(50%);
    }

}


  

}

  

  @media only screen and (max-width: 600px)  {
      
      .map{
          display: none;
      }

      .bpslogo1{
          display:block;
      }

      .bpslogo{
          display:none;

      }

      .divid{
          display: none;
      }

      #a{
          display: block;

      }

      .abouttxt{
          font-size: 15px;
      }
      .photu{
          height: 300px;
          width: 300px;
      }
      
      .landtext{
          font-size: 30px;
      }
      .landtext1{
          font-size: 30px;
      }
      .landtext2{
          font-size: 15px;
      }
      .txt{
          font-size: 9px;
      }
      .typewriter-text{
          font-size: 70px;
      }
      .barbar{
        height: 5px;
      }
       
    @keyframes typing {
        from { width: 0 }
        to { width: 400px } /* Adjust to match your text width */
      }
      @keyframes slideIn {
        0% {
          width: 0;
          right: 0;
          left: auto;
        }
        100% {
          width: 400px;
          right: 50%;
          left: auto;
          transform: translateX(50%);
        }
  }
}

  @media only screen and (max-width: 450px) {
    .typewriter-text{
        font-size: 50px;
    }

     
  @keyframes typing {
      from { width: 0 }
      to { width: 290px } /* Adjust to match your text width */
    }
    @keyframes slideIn {
      0% {
        width: 0;
        right: 0;
        left: auto;
      }
      100% {
        width: 250px;
        right: 50%;
        left: auto;
        transform: translateX(50%);
      }


     } 
}
