body, html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    background-color: white;
    overflow-x: hidden;

}

a{
    text-decoration: none;
}

.ribbon{
    width:100%;
    height:150px;
    background-color: #1b1f3b;
    position: relative;

    border-bottom :6px solid #A9B5DF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    padding-top: 20px;

}

.herohead{
    text-decoration: none;

    font-size: 30px;
    font-weight: 600;
    color:darkgoldenrod;
}

.rib{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.ribb{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.btn{
    text-decoration:none;
    padding: 10px 15px;
    font-size: 20px;
    color: #A9B5DF;
    transition: 0.3s;
}
.btn:hover{
    color: #D6DFF5;
    transform: translateY(-3px);
}

.menucont{
    display: none ;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
top: 230px;
    right: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #1B1F3B;
    border-radius:10px;
    border: 1px solid #A9B5DF;

}
.menubut{
    height: 40px;
    width: 280px;
    border-bottom:2px solid #D6DFF5;
    border-radius:10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #A9B5DF;
    background-color: #1B1F3B;

}
.menubut:hover{
    background-color: #2D3366;
    color: white;
}

.hamburger{
    display: none;
    color: #A9B5DF;
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}

.hamburger .close {
    display: none;
  }
  
  .hamburger.active .open {
    display: none;
  }
  
  .hamburger.active .close {
    display: inline;
  }
.main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #1B1F3B;
    font-size: 50px;
    margin: 50px;
    text-align: center;
}
.main2{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agenda{
    height: auto;
    width: auto;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #1B1F3B;
    font-size: 25px;
}

.main3{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 7px;
    justify-content: space-evenly;
}

.content{
    height:auto;
    width: 500px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2D3366;
    font-size: 18px;
}

.photu{

    height:500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #1b1f3b;

}

.footer{
    width: 100%;
    height: 300px;
    border-top:6px solid #A9B5DF;

    background-color:#1B1F3B;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

.bpslogo1{
    display: none;
    
}
.bpslogo{
    align-self: center;
}
.contact{
    height: 250px;
    width: 160px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.conthead{
    color: #A9B5DF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;


}
.contcont{
    margin-top: 3.5px;
    text-decoration: none;
    font-size: 14px;
    color: #A9B5DF;
}
.divid{
    background-color: #A9B5DF;
    border-radius: 10px;

    opacity: 0.40;
    height: 170px;
    width: 5px;
}
.map{
    height: 200px;
    width: 200px;
    border: 5px #A9B5DF solid;
    border-radius: 25px;
    background-color: black;


    
}

@media only screen and (max-width: 1024px)  {

    .main{
        height: auto;
    }

    .ribbon{
        height: 230px;
    }
    .rib{
        flex-direction: column;
    }

   

    .main3{
        flex-direction: column;
        height: auto;
    }
    .photu{
        height: 350px;
        width: 350px;
        margin-bottom: 25px;
        margin-top: 10px;

    }
    .divider{
        height: 100px;
        background-color: transparent;
    }
    
}

@media only screen and (max-width: 768px)  {
    .btn{
        display: none;
    }
    .menucont.show{
        display: flex;
    }

    .hamburger{
        display: block;
        margin-right: 50px;
    }



}

@media only screen and (max-width: 600px)  {
    
    .head{
        font-size: 30px;
    }

    .agenda{
        font-size: 17px;
    }

    .content{
        font-size: 15px;
        width: auto;
    }

    .gaper{
        display: none;
    }
    
    .map{
        display: none;
    }

    .bpslogo1{
        display:block;
    }

    .bpslogo{
        display:none;

    }

    .divid{
        display: none;
    }

    #a{
        display: block;

    }


}